@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');

body {
    margin: 0;
    padding: 0;
}

nav#nav-bar {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    background: url('/assets/img/login_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    position: relative;
}

#nav-search {
    flex: 1;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

#nav-search input {
    width: 70%;
    height: 30px;
    background: green;
    border: 0;
    border-radius: 50px 0px 0px 50px;
    flex: 1;
    margin-left: 30px;
    padding-left: 20px;
}

#nav-search input:focus {
    outline-width: 0;
}

#nav-search button {
    background: green;
    width: 30px;
    border: 0;
    border-radius: 0px 50px 50px 0px;
    color: white;
}

#nav-icons {
    float: right;
}

#nav-icons ul li {
    display: inline;
    margin-right: 10px;
    font-size:x-large;
    color: white;
}

#cart-list {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    width: 300px;
    max-height: 500px;
    padding-left: 0;
    padding: 10px;
    background: lightgray;
    border-radius: 10px;
    z-index: 999;
    overflow-x: hidden;
    overflow-y: auto;
    opacity: 0;
}

#cart-list li:not(:last-child)  {
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid black;
}

.cart-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.item-top {
    width: 100%;
    display: flex;
}

.item-top img {
    width: 50px;
    height: 50px;
    background: white;
    object-fit: cover;
    object-position: center;
    flex-shrink: 0;
}

.cart-item-text {
    width: 250px;
}

.cart-item-text h5 {
    color: green;
}

.cart-item-text h6 {
    color: black;
}

.cart-item-text > * {
    padding-left: 5px;
    padding-bottom: 5px;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.item-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-quantity > * {
    margin: 0;
}

.item-quantity {
    display: flex;
}

.item-quantity h5 {
    padding: 0px 5px;
    background: white;
    color: black;
    margin: 0px 5px;
}

.item-quantity button {
    background: none;
    border: none;
}

.BTN_remove {
    border: none;
    background: none;
    padding-top: 5px;
    color: green;
}

#cart-total {
    color: green;
    padding: 0;
    margin: 0;
    text-align: center;
}

#total-extra {
    color: black;
    padding: 0;
    margin: 0;
    text-align: center;
    font-weight: normal;
}

#BTN_checkout {
    width: 100%;
    height: 50px;
    margin-top: 5px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    background: green;
    color: white;
}

#total-extra span {
    color: green;
}

#content-heading {
    padding-top: 10px;
    height: 50px;
    width: 100%;
}

#content-heading h1 {
    text-align: center;
    margin: 0;
    padding: 0;
}

#contents {
    padding: 5px 0px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.product-card {
    width: 200px;
    height: 300px;
    background: rgba(100, 100, 100, 0.5);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5px;
    position: relative;
}

.product-card img {
    object-fit: cover;
    object-position: center;
    width: 190px;
    height: 190px;
    border-radius: 5px;
}

.product-card h3 {
    margin: 0;
    padding: 0;
}

.product-card h3.product-title {
    padding-top: 10px;
}

.product-card .product-price {
    font-weight: normal;
}

.product-card > * {
    pointer-events: none;
}

.product-card::after {
    content: 'View';
    padding: 10px 20px;
    position: absolute;
    font-weight: bold;
    font-size: larger;
    background: green;
    text-align: center;
    vertical-align: middle;
    top: 25%;
    opacity: 0;
    transition: opacity .256s;
    pointer-events: all;
}

.product-card:hover::after {
    opacity: 1;
}

#contact {
    width: 300px;
    height: 200px;
    position: fixed;
    top: calc(50% - 120px);
    left: calc(50% - 150px);
    background: #48A14D;
    border-radius: 25px;
    color: white;
    opacity: 0;
    transition: opacity .256s;
    display: none;
}

#contact-contents {
    height: 100%;
    width: fit-content;
    margin: auto;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#contact-contents h3 {
    padding: 0;
    margin: 10px 0px;
}

footer {
    height: 100px;
    width: 100%;
    text-align: center;
    padding-top: 15px;
}

footer h4 {
    margin: 0;
    padding: 0;
    pointer-events: none;
}

footer #cc-container {
    width: 100%;
}

footer #cc {
    width: fit-content;
    margin: auto;
}

#preview-background {
    width: 100%;
    height: 100vh;
    display: block;
    top: 0;
    left: 0;
    background: rgba(100, 100, 100, 0.5);
    position: fixed;
    display: none;
}

#preview-container {
    width: 400px;
    height: calc(100% - 20px);
    margin: auto;
    margin-top: 10px;
    background: gray;
    border-radius: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

#preview-close {
    position: absolute;
    top: 5px;
    right: 5px;
    border: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    z-index: 999;
}

#preview-img {
    width: 300px;
    height: 300px;
    margin-top: 20px;
    object-fit: cover;
    object-position: center;
}

#preview-title,
#preview-price {
    margin: 0;
    padding: 0;
    margin-top: 5px;
}

#preveiew-quantity-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#preveiew-quantity-container h4 {
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
}

#preview-quantity {
    display: flex;
    flex-shrink: 0;
}

#preview-quantity > * {
    margin: 0;
}

#preview-quantity button {
    background: none;
    border: none;
}

#preview-quantity #quantity-amount {
    border: 1px solid black;
    padding: 0px 5px;
    color: black;
    background: whitesmoke;
}

#preview-addCart,
#preview-buyNow {
    width: 300px;
    height: 35px;
    margin-top: 5px;
    border-radius: 3px;
}

#preview-addCart {
    background: white;
    border: 2px solid #48A14D;
}

#preview-buyNow {
    background: #48A14D;
    border: 2px solid #48A14D;
}